<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servletprogrm</display-name>
  <welcome-file-list>
    <welcome-file>validation.jsp</welcome-file>
  </welcome-file-list>

<servlet>


<servlet-name>ateef1</servlet-name>
<servlet-class>com.servlet.Servlet1</servlet-class>
<init-param>
<param-name>driver</param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</init-param>

<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/test</param-value>
</init-param>

<init-param>
<param-name>username</param-name>
<param-value>root</param-value>
</init-param>

<init-param>
<param-name>password</param-name>
<param-value>root</param-value>
</init-param>

</servlet>
<servlet-mapping>
<servlet-name>ateef1</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ateef2</servlet-name>
<servlet-class>com.servlet.Servlet2</servlet-class>
<init-param>
<param-name>driver</param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</init-param>

<init-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/test</param-value>
</init-param>

<init-param>
<param-name>username</param-name>
<param-value>root</param-value>
</init-param>

<init-param>
<param-name>password</param-name>
<param-value>root</param-value>
</init-param>

</servlet>
<servlet-mapping>
<servlet-name>ateef2</servlet-name>
<url-pattern>/servlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ateef3</servlet-name>
<servlet-class>com.context.Contextservlet</servlet-class>
</servlet>
<context-param> 
<param-name>driver</param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</context-param> 

<context-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/test</param-value>
</context-param>
<context-param>
<param-name>username</param-name>
<param-value>root</param-value>
</context-param>

<context-param>
<param-name>password</param-name>
<param-value>root</param-value>
</context-param>


<servlet-mapping>
<servlet-name>ateef3</servlet-name>
<url-pattern>/servlet3</url-pattern>
</servlet-mapping>

</web-app>